@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    color: rgb(125, 90, 40);
    text-align: center;
    font-family: 'Poppins';
}

body {
    background-color: rgb(240, 210, 170);
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    font-size: 64px;
    line-height: 84px;
}

h3 {
    font-size: 28px;
}

.spacing {
    height: 75px;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
}

#header_logo {
    width: 41.5px;
    height: 38.5px;
}

#header_text {
    margin-left: 10px;
    line-height: 28px;
    display: inline-block;
    position: relative;
    bottom: 10px;
}

#footer {
    color: rgba(125, 90, 40, .5)
}

#error_container {
    width: calc(100vw - 40px);
    height: 75vh;
    display: table;
}

#error {
    vertical-align: middle;
    display: table-cell;
}