@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    color: rgb(125, 90, 40);
    text-align: center;
    font-family: 'Poppins';
}

body {
    min-height: 100vh;
    background-color: rgb(240, 210, 170);
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 60px;
    line-height: 84px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 16px;
    line-height: 16px;
}

.spacing {
    height: 75px;
}

.auth_container {
    width: 280px;
    border-radius: 20px;
    margin-left: calc(50vw - 160px);
    margin-top: calc(40vh - 180px);
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.auth_header {
    line-height: 0;
}

.auth_label {
    width: 240px;
    color: rgba(125, 90, 40, .5);
    text-align: left;
    display: inline-block;
}

.auth_input {
    width: 240px;
    color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(125, 90, 40, 0.5);
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.auth_link_label {
    text-decoration: none;
}

.auth_link {
    text-decoration: none;
    color: rgb(90, 150, 90);
}

.auth_link:hover {
    text-decoration: underline;
}

.auth_bottom_spacing {
    height: calc(40vh - 200px);
}

.button {
    height: 40px;
    background-color: rgb(90, 150, 90);
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(70, 110, 70);
}

.auth_button {
    width: 252px;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
}

#header_logo {
    width: 41.5px;
    height: 38.5px;
}

#header_text {
    margin-left: 10px;
    line-height: 28px;
    display: inline-block;
    position: relative;
    bottom: 10px;
}

#footer {
    height: 50px;
    width: calc(100vw - 40px);
    color: rgba(125, 90, 40, .5);
    position: absolute;
    bottom: -100px;
}

#error_container {
    width: calc(100vw - 40px);
    height: 75vh;
    display: table;
}

#error {
    vertical-align: middle;
    display: table-cell;
}

#landing_header {
    height: 150px;
    line-height: 60px;
}

#landing_image {
    height: calc(80vh - 350px);
}

#landing_button {
    height: 50px;
    width: 250px;
    display: block;
    margin-left: calc(50vw - 145px);
    margin-top: 10px;
}

#landing_bottom {
    width: 100vw;
    height: 500px;
}

#logout {
    width: 150px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 10px;
}

#home_subtitle {
    color: rgba(125, 90, 40, .5);
    margin-top: -50px;
}